.buttonPlus {
    display: block;
    margin-left: auto;
    margin-bottom: 5px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
}

button:hover {
    background-color: silver; 
}

.imgPlus {
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 3px;
}

table, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
  }
